/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
  background-image: url('../images/background-plane.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position-y: 112%;
}

.log-out {
  margin-left: -1vh
}

.display {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position-y: bottom;
}

.greeting {
  padding-top: 28vh;
  margin-left: 4%;
  color: #1f1f1fdb;
}

.sr-only {
  font-size: 22px;
  padding: 2px;
  -webkit-text-stroke-width: thin;
  margin-top: 10vh;
}

.w-100 {
  min-width: 500px
}

@media only screen and (min-width: 600px) {
  .sign-up {
    color: black;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 14px;
    padding: 10px;
  }

  .logo-mid {
    background-color: #ffffffa1;
    border-radius: 10px;
  }

  .sr-only {
    background-color: #ffffffa1;
    border-radius: 10px;
  }

  .header {
    height: 13vh;
  }
}

.logo-mid {
  max-width: 150px;
  border-radius: 6px;
}

.btn-dark {
  color: #fff;
  background-color: #212529e3;
  border-color: #3785d39e;
  padding: 8px;
  z-index: 3;
  width: 100%;
}

.btn-dark:hover {
  box-shadow: inset 1px 1px 5px 2px #0e0e0ec9, 0px 1px 3px 1px #111111c7;
}

button.ui-button {
  margin: 1vh;
}

.reminder {
  font-size: 8px;
}

.form-info {
  color: black;
  padding-right: 5px;
  font-size: 12px;
}

.auth {
  background-color: #feffff;
  box-shadow: 0 14px 28px rgb(0 0 0 / 30%), 0 10px 10px rgb(0 0 0 / 38%);
  width: 32rem;
  max-width: 86%;
  overflow: hidden;
  border-radius: 10px;
}

.flights {
  top: 26rem;
  color: white;
  text-align: center;
  background-color: #1c1a21e3;
  text-decoration: none;
  padding: 0 7vh 0px 7vh;
  display: flow-root;
  margin: 1vh 0vh 1vh 0vh;
}

input {
  max-width: 180px;
  padding: 6px 15px;
  margin: 8px 0px!important;
  border: #b5b5b5 1.5px solid;
  background-color: #eee;
  width: 100%;
  border-radius: 2px;
}

.nav-icon {
  margin: 50% 0% -16% -34%;
  box-sizing: content-box;
  padding: 15px;
}

#input-group {
  width: fit-content;
  margin: 5px 0px 10px 0px;
  border: solid black;
  border-radius: 10px;
}

#flight-icons {
  padding: 1px;
  margin: 0px 14px 0px 0px;
}

.flight-model {
    display: inline-block;
    position: absolute;
    margin: 22%;
    color: white;
    font-size: 30px;
}

.header {
  border: white;
  background-color: white;
  height: 7.5rem;
  box-shadow: 1px 3px 10px 0px #1a1a1aa1;
}

.label {
  font-weight: 800;
}

.seats {
  width: 40px;
  height: 40px;
}

.seat-container {
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

.icon-text {
  font-size: 12px;
  color: black;
  text-align: center;
  margin: -4px 0px 0px 10px;
}

.icon-div {
  display: flex;
  height: 100px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: center;
  -webkit-text-stroke: thin;
}

.nav-icon:hover {
  border-radius: 50%;
  animation: glow 1.5s linear infinite alternate;
  background: radial-gradient(#ffffff7a 12px, #ffffff5c 40%, #f8f8f80f 70%);
  box-shadow: 0 0 0px 0px #2e2e2eb3;
  transition: box-shadow 3s linear;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 12px 6px #66666673;
  }
}

.auth-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
}

.title-img {
  padding: 25px;
  width: 160px;
  margin-top: 1.6em;
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
  top: -10px;
}

.headerStyle {
  display: flex;
}

.ui-button {
  border-radius: 10px;
    margin: 10px;
    width: 80px;
    box-shadow: 2px 2px 8px 0px black;
}

.carousel {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -10;
    position: fixed !important;
    display: block;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  min-width: 186px;
  z-index: 2;
}

.App {
  display: inline-block;
}

.ui-button {
  display: flex;
}

.buttons-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#my-trips {
  margin: -3px 0px 0px 3px;
}

.my-trips {
  margin-top: 17vh;
  padding-left: 25px;
}

#log-in {
  margin: -4px 0px 0px 9px;
}

#book {
  margin: -5px 0px 0px 11px;
}

.filler {
  width: 104%;
  background-color: #e9ecef;
  position: fixed;
  min-height: 20%;
  min-height: -webkit-fill-available;
  top: 80%;
  border: solid #141414d4 1px;
  box-shadow: -1.5px 0px 2.5px 0px black;
  z-index: 20000;
  background-image: linear-gradient(174deg, #ffffff 5%, #ffffff 10%, #3a88ce 75%);
  margin-left: -3%;
  padding: 50px;
}

.search-form {
  height: 425px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.sign-up-form {
  padding: 20px;
  width: 45%;
  max-width: 60%;
  min-width: 140px;
  margin: 10px auto;
}

#btn {
    color: #000;  
    background-color: #e9ecef;
    border-color: #2f83c9;
}

.search-flight {
  display: block;
}

.no-flight {
  color: red;
  margin-left: 20%;
  background-color: #ffffffc9;
  border-radius: 7px;
  padding: 4px;
  width: fit-content;
}

#form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #6897b9;
  outline-color: #6897b9;
  outline: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 0.5rem rgb(104 151 185 / 17%);
}

