.nav-button {
  border: none;
  background-color: transparent;
  padding: 0.4rem;
  width: 100%;
  color: #f6fbfe;
  font-weight: 300;
  height: 100%;
  font-family: inherit;
  filter: drop-shadow(0px -4px 3px#1616167a) opacity(0.96);
  text-shadow: 0px 0px 2px #595050;
  font-size: clamp(1.2rem, calc(0.2rem + 1.05vw + 0.6vh), 1.8rem);
  background-image: linear-gradient(
    180deg,
    #ad211a 93%,
    hsl(348deg 71% 22% / 97%) 98% 8px,
    #404040 116% 3px
  );
  position: relative;
  overflow: hidden;
  text-wrap: nowrap;
}

.header-button {
  background-color: transparent;
  width: 100%;
  color: aliceblue;
  height: 100%;
}

.nav-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background: #eceaeaed;
  transition: width 0.3s;
}

.nav-button.left-to-right::before {
  left: 0;
}

.nav-button.right-to-left::before {
  right: 0;
}

.nav-button:hover::before {
  width: 100%;
}

.nav-button:hover {
  filter: opacity(0.96) drop-shadow(0px -1px 3px #1616167a);
}

#leftmost-button {
  border-radius: 16px 3px 0px 80px/14px 0px 0px 120px;
}

.nav-button:active {
  box-shadow: inset #14141422 -1px 1px 5px 2px;
}

.nav-button:active::before {
  background: hsl(42deg 60% 50% / 84%) 2px;
}

.profile-img {
  width: 72%;
}
