.icon-text {
  perspective: 500px;
  padding: 0.5rem;
}

.icon-text span {
  position: absolute;
  transform-origin: center bottom;
  transform: rotateX(0deg) translateZ(100px);
  font-size: 24px;
  text-align: center;
}

.icon-text span:nth-child(1) {
  transform: rotateY(2deg) rotateX(352deg) rotateZ(-12deg) translateZ(86px);
}
.icon-text span:nth-child(2) {
  transform: rotateY(9deg) rotateX(356deg) rotateZ(327deg) translateZ(87px);
}
.icon-text span:nth-child(3) {
  transform: rotateY(7deg) rotateX(-1deg) rotateZ(-13deg) translateZ(131px);
}
.icon-text span:nth-child(4) {
  transform: rotateY(11deg) rotateX(-1deg) rotateZ(10deg) translateZ(118px);
}
.icon-text span:nth-child(5) {
  transform: rotateY(16deg) rotateX(-2deg) rotateZ(15deg) translateZ(95px);
}
.icon-text span:nth-child(6) {
  transform: rotateY(13deg) rotateX(358deg) rotateZ(26deg) translateZ(148.1px);
}
.icon-text span:nth-child(7) {
  transform: rotateY(25deg) rotateX(-6deg) rotateZ(32deg) translateZ(92px);
}

a:hover span {
  -webkit-transform-origin-x: right;
  -webkit-transform-origin-y: 18px;
  margin: -2px;
}

.nav-bar-icons:last-child .icon-text {
  margin: 2px;
}
